.home{
    background-image: url("/img/main_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .horizantal-center {
    margin:auto;
  }